body{
    background-color:#F9F9F9;
}


nav{

    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

nav a{
    margin-right: 15px;
}

/* Styling Home begin */
.content{
    
    margin-top: 300px;
    padding-left: 150px;
}

h3{
    color: #818181;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

.content p{
    margin-top: -30px;
    color: #818181;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.sosmed{
    margin-top: -7px;
}

.sosmed a{
    margin-right: 8px;
}

.sosmed img{
    width: 30px;
}
/* Styling Home end */

/* Styling About begin */
.about{
    width: 600px;
    margin-top: 150px;
    padding-left: 100px;
}

.about h3{
    margin-bottom: 60px;
}

.about p{
    color: #818181;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about h4{
    font-size: 20px;
}

.about h4, ul{
    color: #818181;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about .skill, .interest{
    display: inline-block;
    width: 250px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}

.about .skill{
   width: 340px;
}
/* Styling About end */

/* Styling Works begin */
.works{
    padding-left: 100px;
    color: #818181;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;

}

.galeri img{
    width: 350px;
}

.card{
    border: 3px solid rgb(206, 206, 206);
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 30px;
    height: 320px;
    }

.galeri{
    width: 1300px;
    padding-left: 100px;
}

.card .title{
    text-align: center;
}
/* Styling Works end */

/* Styling Hobby begin */
.hobbybox{
    padding-left: 100px;
    width: 1300px;
    margin-top: 100px;
}

.hobby{
    padding-left: 100px;
    color: #818181;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}


.desc{
   
    width: 40%;
    color: #818181;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.coffee, .music{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.pic{
    width: 40%;
    text-align: center;
}